In [2]:
import sqlite3

In [6]:
conn = sqlite3.connect("database.db")
cursor = conn.cursor()

In [8]:
# Read SQL commands from the file
with open('database.sql', 'r') as file:
    sql_commands = file.read()

In [10]:
cursor.executescript(sql_commands)

In [11]:
conn.commit()

In [15]:
conn.close()

In [14]:
# Define the SQL query to select data from the table
select_query = """
select * from customers
"""

# Execute the SQL query
cursor.execute(select_query)

# Fetch all rows from the result set
rows = cursor.fetchall()

# Display the retrieved data
for row in rows:
    print(row)

(1, 'Customer 1', 'Male', 'City 1')
(2, 'Customer 2', 'Female', 'City 2')
(3, 'Customer 3', 'Male', 'City 3')
(4, 'Customer 4', 'Female', 'City 4')
(5, 'Customer 5', 'Male', 'City 5')
(6, 'Customer 6', 'Female', 'City 6')
(7, 'Customer 7', 'Male', 'City 7')
(8, 'Customer 8', 'Female', 'City 8')
(9, 'Customer 9', 'Male', 'City 9')
(10, 'Customer 10', 'Female', 'City 10')
(11, 'Customer 11', 'Male', 'City 11')
(12, 'Customer 12', 'Female', 'City 12')
(13, 'Customer 13', 'Male', 'City 13')
(14, 'Customer 14', 'Female', 'City 14')
(15, 'Customer 15', 'Male', 'City 15')
(16, 'Customer 16', 'Female', 'City 16')
(17, 'Customer 17', 'Male', 'City 17')
(18, 'Customer 18', 'Female', 'City 18')
(19, 'Customer 19', 'Male', 'City 19')
(20, 'Customer 20', 'Female', 'City 20')
(21, 'Customer 21', 'Male', 'City 21')
(22, 'Customer 22', 'Female', 'City 22')
(23, 'Customer 23', 'Male', 'City 23')
(24, 'Customer 24', 'Female', 'City 24')
(25, 'Customer 25', 'Male', 'City 25')
(26, 'Customer 26', 'Female', 'City 26')
(27, 'Customer 27', 'Male', 'City 27')
(28, 'Customer 28', 'Female', 'City 28')
(29, 'Customer 29', 'Male', 'City 29')
(30, 'Customer 30', 'Female', 'City 30')